<%= form_for([@contact, @contact.phone.build]) do |f| %>
    <p>
      <%= f.text_field :more_phone, :placeholder => 'New Phone Number', :class => 'form-control' %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>