<p>
    <strong>Phone:</strong>
    <%= phone.more_phone %> |   <%= link_to 'Destroy Number', [phone.contact, phone],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

</p>