<br>
<%= link_to new_contact_path, class: 'btn btn-primary', class: 'btn btn-primary', remote: true do %>
    <i class="glyphicon glyphicon-plus"></i> New Contact
<% end %>

<div id="task-form" style="display:none;"></div>

<style type="text/css">
.table th
{
  text-align: center;
}
</style>

<% if cannot? :manage, :all %>
  <div id="sembarang">
    <%= render 'current' %>
  </div>
<% else %>
  <div id="sembarang">
    <%= render 'all' %>
  </div>
<% end %>